#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.chat-container {
  width: 600px;
  margin: auto;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgb(176, 176, 176);
}

.response-box {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  /* background-color: #f5f5f5; */
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .85em;
}

.input-container {
  display:flex;
  flex-direction: column;
  gap: 12px;
}

.query-input {
  min-height: 100px;
  padding: 12px;
  border-radius: 8px
}